
.survey {
  color: darkgreen;
  font-family: monospace;
}

.monaco {
  display: none;
  color: red;
  background-color: pink;
}

.kauai {
  display: none;
  color: green;
  background-color: lime;
}

.qaqortoq {
  display: none;
  color: blue;
  background-color: lightblue;
}
