
.survey {
  color: darkgreen;
  font-family: monospace;
}

.gotoMonaco {
  display: none;
  color: red;
  background-color: pink;
}

.gotoKauai {
  display: none;
  color: green;
  background-color: lime;
}

.gotoQaqortoq {
  display: none;
  color: blue;
  background-color: lightblue;
}
